body {
    font-family: 'News Cycle', sans-serif;
}

h1{
	text-align: center;
	font-family: 'Cinzel', serif;
}

.chooseDate{
    padding-left: 80px;
}

.show{
	display: inline;
	float: left;
	padding-left: 80px;
	margin: none;
	
}
.sponsor{
	display: inline;
	float: right;
	padding-right: 200px;
}
.showInsert{
	float: left;
}
.showImage{
	display: inline;
	float: left;
}


#actionButtons{
	padding-top: 500px;
	margin: 70px;
    font-family: 'News Cycle', sans-serif;
}
.BugButton{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 12%;
    height: 50px;
    border: none;
    background-color: #3D1A17;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
	font-size: 18px;
	color: #FFDCA4;
	float: left;
}
.HelpButton{
    border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 12%;
    height: 50px;
    border: none;
    background-color: #3D1A17;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
	font-size: 18px;
	color: #FFDCA4;
	float: left;
	margin-left: 20px;
}

.BugButton:hover{
    background-color: #DCA87B;
    transition: .5s;  
}
.HelpButton:hover{
    background-color: #DCA87B;
    transition: .5s;
}
.submitButton:hover{
    background-color: #DCA87B;
    transition: .5s;
}
fieldset{
	border: none;
	
}
input[type=submit]{
	border: 10px solid #C28E61;
    border-radius: 10px;
    display: inline;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #3D1A17;
    background-size: 100%;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
	font-size: 20px;
	color: #FFDCA4;
	padding: 10px;
}
form{
    margin: 20px auto;
    margin-left: 0px;
}
form div{
    margin-top: 5px;
}
#img_div{
    width: 40%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
}
#img_div:after{
    content: "";
    display: block;
    clear: both;
}
img #image_preview, img #image_preview2{
    float: left;
    margin: 5px;
    width: 300px;
    height: 140px;
	padding-bottom: 20px;
}
.emptything{
	padding: 40px;
}
#message{
	color: pink;
	font-size: 40px;
	padding: 40px;
}

.chooseDate{
    margin: auto;
    display: block;
}


/* Table Elements */

.showList {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    background-color: #C28E61;
    width: 100%;
}

.sponsorList {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    background-color: #C28E61;
    width: 100%;
}


td, th {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #3D1A17;
    color: #FFDCA4;
    font-weight:lighter;
}

tr:nth-child(even) {
    background-color: #FFDCA4;
}

#nameChange{
	margin-bottom: 10px;
}
h4{
	padding: none;
	margin: auto;
}
h4, #selectImage, .sponsorInfoName{
	margin: none;
	font-size: 20px;
}

