h3{
    margin: 0;
    padding-top: 15px;
    padding-left: 10px;
    text-decoration: underline;
    text-decoration-color: #3D1A17;
    font-family: 'Cinzel', serif;
}

/* Reservation List */

/* Class for the entire reservation area */
.reservations {
    text-align: left;
    width: 50%;
    float:left;
    font-family: 'News Cycle', sans-serif;
}

.action {
    background-color: #3D1A17;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 25px;
    border-color:#3D1A17;
    color:#FFDCA4;
    text-align:center;
    display: inline;
}

.selectAllReservations {
    margin:10px 5px 10px 10px;
    border: 1px solid #3D1A17;
    background-color: #3D1A17;
    border-radius: 15px;
    text-align: center;
    color:#FFDCA4;
    display: inline;
    padding-right: 5px;
}

.selectAllReservations:checked {
    margin:10px 5px 10px 10px;
}

/* Reservation list table elements */

.reservationList {
    margin-left:10px;
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    background-color: #C28E61;
    width: 100%;
}

.reservationList {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    background-color: #C28E61;
    width: 100%;
}

td, th {
    border: 1px solid #3D1A17;
    border-collapse: collapse;
    text-align: center;
}

td {
    margin: -5px;
}

th{
    background-color: #3D1A17;
    color: #FFDCA4;
    font-weight:lighter;
}

tr:nth-child(even) {
    background-color: #FFDCA4;
}

/* Add Reservation popup elements */
.AddReservation {
    margin:auto;
}

#notes {
    height: 150px;
    width: 300px;
}

/* Seating Chart */
.seatingPreview {
    display: inline;
    float:right;
}

#editResTable{
	float: left;
	position: absolute;
	width: 50%;
	padding-top: 10px;
	padding-left: 8px;
	background-color: #6E492E;
}
#editResTable #editBody th, #editBody td {
    margin-left:10px;
    background-color: #C28E61;
	border: none;
    text-align: left;
    float: center;
	position: center;

}

.notesForm, .ticketForm, .customerForm{
	width: 95%;
	padding: 2px;
}
.button td{
	border: none;
}

/* Reservation information elements */
#personalInfo{

}