.active a{
	
	font-weight: bold;
	color: red;
}
body{
	margin: 0px;
	background-color:#C28E61;
}
header{
	display: flex;
	height: 140px;
	padding: 8px;
	align-items: center;
	background-color: #3D1A17; 
}

header .logo-holder{
	flex:.33;
	display: flex;
	justify-content: center;
	width: 100px;
	padding-top: 8px;
}
header .navbar{
	flex: 1;
	display: flex;
	justify-content: center;
}
.navbar ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-family: 'Cinzel', serif;
}
.navbar li{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	
}
.navbar a{
	text-decoration: none;
	display: inline-block;
	color: tan;
	padding: 25px 30px;
	font-weight: lighter;
}
.active a{
	font-weight: bold;
	color: white;
}